// colours
    $dark_main_bg: #133783;
    $main_bg: #3B5998;
    $light_main_bg: #617AAC;
    $lighter_main_bg: #F4F6F9;
    $lightest_main_bg: #E3E8F0;
    $responsive_current_menu_bg: #627DB4;
    
    $white_bg: #ffffff;
    $dark_border: #29447E;
    
    $admin_bar_text: #C3CFE5;
    $white_text: #ffffff;
    $black_text: #000000;    
    
    $dark_grey: #333333;
    $dark_medium_grey: #555555;
    $number_of_the_beast: #666666;
    $medium_grey: #999999;
    $light_medium_grey: #dddddd;
    $light_grey: #eeeeee;
    
    $submenu_border: #E0E0E0;
    
    $login_button_border: #1C5A00;
    $login_button_bg: #67A54B;
    $login_button_text: #EAF2FA;
    $login_bg: #FBFBFB;
    $login_border: #AAAAAA;
    
    $comment_waiting: #D98500;
    $comment_approved: #006505;
    
    $nav-tab_bg: #F1F1F1;
    $nav-tab_border: #DFDFDF;
    
    $update_plugins_bg: #D8DFEA;
    
    $ui-dialog_bg: #6D84B4;
    
    $input_border: #BDC7D8;
    
    $table_border: #E9E9E9;
    
    $image_border: #CCCCCC;
    
    $nag_border: #CED5E5;
    
    $widget_border: #C5C5C5;
    
    $right_now_border: #ECECEC;
    
    $pay_attention: red;
    
  //  
