// colours
    $main_bg: #486D25;
    $dark_main_bg: darken($main_bg,20%);
    $light_main_bg: #83ae2c;
    $lighter_main_bg: #e9ee9f;
    $lightest_main_bg: lighten($light_main_bg,40%);
    $responsive_current_menu_bg: $light_main_bg;
    
    $white_bg: #ffffff;
    $dark_border: darken($dark_main_bg,10%);
    
    $admin_bar_text: #C3CFE5;
    $white_text: #ffffff;
    $black_text: #000000;    
    
    $dark_grey: #333333;
    $dark_medium_grey: #555555;
    $number_of_the_beast: #666666;
    $medium_grey: #999999;
    $light_medium_grey: #dddddd;
    $light_grey: #eeeeee;
    
    $submenu_border: #E0E0E0;
    
    $login_button_border: #1C5A00;
    $login_button_bg: #67A54B;
    $login_button_text: #EAF2FA;
    $login_bg: #FBFBFB;
    $login_border: #AAAAAA;
    
    $comment_waiting: #D98500;
    $comment_approved: #006505;
    
    $nav-tab_bg: #F1F1F1;
    $nav-tab_border: #DFDFDF;
    
    $update_plugins_bg: #D8DFEA;
    
    $ui-dialog_bg: $lighter_main_bg;
    
    $input_border: $lightest_main_bg;
    
    $table_border: #E9E9E9;
    
    $image_border: #CCCCCC;
    
    $nag_border: $lightest_main_bg;
    
    $widget_border: #C5C5C5;
    
    $right_now_border: #ECECEC;
    
    $pay_attention: red;
    
    
